.angular-google-map-container {
  left: -1%;
  width: 102%;
  height: 96%;
}

body {
  background-color: #6DBFE2;
}
h2 {
  text-align: center;
  font-size: 40;
  font-family: Trebuchet MS;
  color: 
}

.signin {
  position: absolute;
  left: 45%;
  text-align: center;
  font-size: 25;
  border: 1px solid black;
  width: 10%;
}
